
*{
    margin:0;
    padding:0;
}

#table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    padding: 5px;
    height: 100px;
    width: 800px;
}